/* Write your code here. */
* {
  box-sizing: border-box;
}
body {
  margin: 0px;
}
.bg-container {
  background-image: url("https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png");
  background-size: cover;
  min-height: 100vh;
  padding: 24px;
  font-family: "Roboto";
}
.card {
  background-color: #cffafe;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #1e293b;
  padding: 20px;
}
.heading {
  color: #0f172a;
  text-align: center;
}

@media (min-width: 768px) {
  .heading {
    font-size: 50px;
  }
}
